*{
    margin: 0;
    padding: 0;
    border-radius: 25px;
    background: rgb(18, 119, 201);
}

p {
    max-width: 70%;
    text-align: center;
    color: white;
    text-shadow: black 1px 1px;
    line-height: 1.5;
}

body {
    border-radius: 0px;
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3%;
    background: rgb(14, 27, 61);
}

button {
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: black;
    background: white;
    transition-duration: 0.4s;
}

button:hover {
    color: white;
    background: blue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1 {
    font-size: 300%;
    color: white;
    text-shadow: black 1px 1px 2px;
    line-height: 2;
    transition-duration: 0.2s;
}

h1:hover {
    color: blue;
}

h3{
    font-size: 150%;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    text-shadow: black 1px 1px 2px;
    line-height: 2;
    transition-duration: 0.2s;
}
h3:hover{
    color: blue;
}

ul,ol{
    font-size: 110%;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-shadow: black 1px 1px;
    line-height: 1.2;
}

hr {
    border-top: 1px dashed black;
}

#caption {
    color: white;
    text-shadow: black 1px 1px;
}

#bio {
   text-indent: 5em;
   text-align: justify; 
}